@media screen and (max-width: 640px) {
  .inner {
    width: 100%;
    padding: 0 10px;
  }
  header ul.gnb {
    display: none;
  }
  .top-btn {
    width: 50px;
    height: 50px;
  }
  .top-btn span {
    display: none;
  }
  .m-menu .menu-list {
    width: 100%;
  }
  .m-menu .menu-list > li h3 {
    cursor: pointer;
  }
  .m-menu .menu-list > li h3::after {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    content: "\f106";
    font-family: fontawesome;
    font-size: 20px;
  }
  .m-menu .menu-list > li h3.active::after {
    transform: rotate(180deg);
  }
  .m-menu .menu-list > li .depth1 {
    display: none;
    border: 1px solid transparent;
  }
  .m-menu .menu-list > li .depth1 > li {
    margin: 0px;
  }
  .m-menu .menu-list > li .depth1 > li > a {
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    font-size: 15px;
    background: #fff;
    color: #777;
  }
  .m-menu .menu-list > li .depth1 > li > a::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 10px;
    vertical-align: middle;
    background: #0D81A0;
    border-radius: 50%;
  }
  .m-menu .menu-list > li .depth1 .depth2 {
    display: none;
  }
  .m-menu .close-btn {
    width: 50px;
    height: 50px;
    right: 10px;
  }
  main .main-info {
    flex-direction: column;
  }
  main .main-info .main-slider {
    width: 100%;
  }
  main .main-info .main-slider .main-swiper {
    width: 100% !important;
    height: auto;
    margin: 0;
  }
  main .main-info .main-guide .main-search {
    margin: 30px 0;
  }
  main .main-info .main-guide .main-search label span {
    display: none;
  }
  main .main-info .main-guide .main-search .hashtag {
    display: none;
  }
  main .main-info .main-guide .main-items .item {
    flex: 1 300px;
    justify-content: start;
    padding: 15px;
  }
  main .main-info .main-guide .main-items .item-txt .txt {
    display: none;
  }
  main .main-category::before {
    margin: 0 2px;
  }
  main .main-category .category-wrap {
    flex-direction: column;
    align-items: start;
  }
  main .main-category .category-wrap .title {
    margin: 0;
  }
  main .main-category .category-wrap .title::after {
    display: none;
  }
  main .main-category .category-wrap .icon-list {
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  main .main-category .category-wrap .icon-list li {
    flex: 1 100px;
    padding: 0;
  }
  main .main-category .category-wrap .icon-list li > a {
    width: 100%;
  }
  main .main-category .category-wrap .all-menu {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 10px 0 10px;
    line-height: 0;
    height: auto;
    width: auto;
    padding: 15px;
  }
  main .main-category .category-wrap .all-menu::before {
    position: static;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 7px;
  }
  /* totalcare section */
  section.totalcare .totalcare-content {
    flex-direction: column;
    padding: 0;
  }
  section.totalcare .totalcare-content .consult {
    text-align: center;
    width: 100%;
    gap: 0;
    flex-direction: column;
  }
  section.totalcare .totalcare-content .consult-apply p {
    font-weight: 400;
    margin: 10px 0;
  }
  section.totalcare .totalcare-content .consult-apply .sub-txt {
    margin-bottom: 20px;
  }
  section.totalcare .totalcare-content .consult-apply .applying {
    display: inline-block;
  }
  section.totalcare .totalcare-content .api-list {
    margin: 40px;
  }
  section.totalcare .totalcare-content .api-list .list-items li .sub-txt {
    width: 100%;
  }
  section.totalcare .totalcare-guide {
    flex-direction: column;
    height: auto;
  }
  section.totalcare .totalcare-guide .title {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    text-align: left;
    margin: 0;
  }
  section.totalcare .totalcare-guide .title b {
    margin-right: 10px;
    display: inline-block;
  }
  section.totalcare .totalcare-guide .guide-list {
    flex-wrap: wrap;
  }
  section.totalcare .totalcare-guide .guide-list li {
    flex: 1 200px;
    height: 100px;
  }
  section.simulation .simulation-swiper {
    margin-top: 50px;
    position: relative;
  }
  section.simulation .simulation-swiper .simulation-swiper-control {
    justify-content: center;
  }
  section.simulation .simulation-swiper .simulation-swiper-control .swiper-button-next.simul-btn-next {
    position: absolute;
    top: 45%;
    right: 10px;
  }
  section.simulation .simulation-swiper .simulation-swiper-control .swiper-button-next.simul-btn-next::after {
    font-size: 45px;
  }
  section.simulation .simulation-swiper .simulation-swiper-control .swiper-button-prev.simul-btn-prev {
    position: absolute;
    top: 45%;
    left: 10px;
  }
  section.simulation .simulation-swiper .simulation-swiper-control .swiper-button-prev.simul-btn-prev::after {
    font-size: 45px;
  }
  section.simulation .simulation-swiper .simulation-swiper-control .simulation-swiper-play-btn {
    margin-left: 10px;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide .simulation-content .content-top {
    margin-bottom: 20px;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide .simulation-content .content-top .circle {
    width: 100px;
    height: 100px;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide .simulation-content .content-top .pop {
    padding: 0;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide .simulation-content .txt {
    font-size: 14px;
  }
  section.simulation .simulation-swiper .swiper-wrapper .swiper-slide-active .simulation-content .content-top .circle {
    width: 250px;
    height: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4117647059);
  }
  section.recommendation .swiper-control {
    padding: 0 10px;
  }
  section.recommendation .swiper-control .swiper-button-next.reco-btn-next,
  section.recommendation .swiper-control .swiper-button-prev.reco-btn-prev {
    display: none;
  }
  section.recommendation .swiper-control .fraction-pagination {
    display: none;
  }
  section.recommendation .swiper-control .recommend-pagination {
    width: 100%;
  }
  section.recommendation .swiper-control .reco-swiper-play-btn {
    display: none;
  }
  section.notice .notice-wrap {
    flex-direction: column;
  }
  footer {
    margin-top: 50px;
  }
  footer .f-btn .f-wrap {
    flex-direction: column-reverse;
  }
  footer .f-btn .f-link {
    margin-bottom: 25px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
}