@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;600&display=swap");
/* default settings */
/*Reset CSS*/
* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inner {
  width: 1380px;
  margin: 0 auto;
  border: 1px solid #000;
}

.sub-txt {
  color: #888;
}

/* header section */
header {
  display: none;
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #eee;
}
header .header-wrap {
  width: 100%;
  align-items: center;
  height: 80px;
  display: flex;
}
header .gnb-bg {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 280px;
  z-index: 900;
  background: #fff;
  border-top: 1px solid #eee;
}
header .bg-overlay {
  display: none;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
  background: rgba(0, 0, 0, 0.2588235294);
}
header h1.logo {
  margin-right: auto;
}
header ul.gnb {
  display: flex;
  height: 80px;
}
header ul.gnb > li {
  position: relative;
  padding: 0 40px;
}
header ul.gnb > li:hover > a {
  color: #0D81A0;
}
header ul.gnb > li:hover > .sub > li > a {
  color: #444;
}
header ul.gnb > li > .sub > li > a:hover {
  color: #0D81A0;
}
header ul.gnb > li:nth-of-type(1), header ul.gnb > li:nth-of-type(4) {
  margin-right: 25px;
}
header ul.gnb > li > a {
  display: inline-block;
  line-height: 80px;
  font-weight: 500;
  font-size: 19px;
  position: relative;
}
header ul.gnb > li > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  height: 2px;
  width: 0;
  background: #0D81A0;
  transition: 0.2s;
}
header ul.gnb > li > a:hover::before {
  width: 100%;
}
header ul.gnb .sub {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  margin-top: 20px;
  z-index: 1000;
}
header ul.gnb .sub > li {
  margin: 20px 0;
  text-align: center;
}
header ul.gnb .sub > li > a {
  color: #aaa;
  display: inline-block;
  width: 100%;
}
header .trigger {
  position: relative;
  width: 40px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}
header .trigger:hover span {
  background: #0D81A0;
}
header .trigger span {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #000;
}
header .trigger span:nth-of-type(1) {
  top: 0;
}
header .trigger span:nth-of-type(2) {
  top: 50%;
}
header .trigger span:nth-of-type(3) {
  top: 100%;
}

/* main section */
main {
  display: none;
  margin: 20px 0;
}
main .main-info {
  display: flex;
  gap: 30px;
}
main .main-info .main-slider {
  position: relative;
}
main .main-info .main-slider .main-swiper {
  width: 500px;
  height: 100%;
}
main .main-info .main-slider .main-swiper .main-slide a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
main .main-info .main-slider .main-swiper .main-slide a img {
  display: block;
  width: 100%;
}
main .main-info .main-slider .main-pagination {
  position: absolute;
  bottom: -5%;
  left: 10px;
  text-align-last: left;
}
main .main-info .main-slider .main-pagination-bullet-active {
  background-color: #0E81A0;
}
main .main-info .main-guide {
  flex: 2;
}
main .main-info .main-guide .main-search {
  margin-bottom: 70px;
}
main .main-info .main-guide .main-search label {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: #0D81A0;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}
main .main-info .main-guide .main-search label .search-wrap {
  display: flex;
  border: 2px solid #0D81A0;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  margin-left: 10px;
}
main .main-info .main-guide .main-search label input[type=text] {
  flex: 9;
  padding: 15px;
  outline: none;
  border: none;
}
main .main-info .main-guide .main-search label input[type=text]::placeholder {
  font-size: 15px;
}
main .main-info .main-guide .main-search label .search-btn {
  flex: 0.1;
  border: none;
  cursor: pointer;
  background: #0D81A0 url(/img/search_btn.png) no-repeat center center;
  outline: none;
  margin: -4px;
  padding: 30px;
}
main .main-info .main-guide .main-search .hashtag {
  text-align: center;
}
main .main-info .main-guide .main-search .hashtag > a {
  margin: 10px;
  font-size: 16px;
  color: #79939A;
  font-weight: normal;
}
main .main-info .main-guide .main-search .hashtag > a:hover {
  text-decoration: underline;
}
main .main-info .main-guide .main-items {
  display: flex;
  background: #fff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1725490196);
  border-radius: 10px;
  overflow: hidden;
  flex-wrap: wrap;
}
main .main-info .main-guide .main-items .item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 250px;
  gap: 10px;
  padding: 50px 30px;
  border-bottom: 1px solid #eee;
}
main .main-info .main-guide .main-items .item::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 50%;
  background: #eee;
}
main .main-info .main-guide .main-items .item-img {
  transition: 0.3s;
}
main .main-info .main-guide .main-items .item-img img {
  width: 100%;
}
main .main-info .main-guide .main-items .item-txt .title {
  display: block;
  font-weight: 500;
}
main .main-info .main-guide .main-items .item-txt .txt {
  font-size: 13px;
  color: #777;
}
main .main-info .main-guide .main-items .item:hover {
  background: #F5FCF8;
  color: #3B865D;
}
main .main-info .main-guide .main-items .item:hover .item-img {
  transform: translateY(-5px);
}
main .main-category {
  margin-top: 50px;
  border-radius: 0 10px 10px 0;
  background: #3A7F9D;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
main .main-category .category-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .main-category .category-wrap .title {
  position: relative;
  color: #fff;
  font-size: 20px;
  line-height: 1.2em;
}
main .main-category .category-wrap .title::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  top: 0;
  right: -30%;
  display: inline-block;
  background: rgba(255, 255, 255, 0.4509803922);
}
main .main-category .category-wrap .icon-list {
  display: flex;
}
main .main-category .category-wrap .icon-list li {
  border-radius: 10px;
  overflow: hidden;
}
main .main-category .category-wrap .icon-list li:nth-of-type(1) > a::before {
  background: url(/img/cate001.png) no-repeat center center;
}
main .main-category .category-wrap .icon-list li:nth-of-type(2) > a::before {
  background: url(/img/cate002.png) no-repeat center center;
}
main .main-category .category-wrap .icon-list li:nth-of-type(3) > a::before {
  background: url(/img/cate003.png) no-repeat center center;
}
main .main-category .category-wrap .icon-list li:nth-of-type(4) > a::before {
  background: url(/img/cate004.png) no-repeat center center;
}
main .main-category .category-wrap .icon-list li:nth-of-type(5) > a::before {
  background: url(/img/cate005.png) no-repeat center center;
}
main .main-category .category-wrap .icon-list li:nth-of-type(6) > a::before {
  background: url(/img/cate006.png) no-repeat center center;
}
main .main-category .category-wrap .icon-list li:nth-of-type(7) > a::before {
  background: url(/img/cate007.png) no-repeat center center;
}
main .main-category .category-wrap .icon-list li:nth-of-type(8) > a::before {
  background: url(/img/cate008.png) no-repeat center center;
}
main .main-category .category-wrap .icon-list li:nth-of-type(9) > a::before {
  background: url(/img/cate009.png) no-repeat center center;
}
main .main-category .category-wrap .icon-list li:nth-of-type(10) > a::before {
  background: url(/img/cate010.png) no-repeat center center;
}
main .main-category .category-wrap .icon-list li > a {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 100px;
  line-height: 130px;
  text-align: center;
  color: #fff;
}
main .main-category .category-wrap .icon-list li > a::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 5%;
}
main .main-category .category-wrap .icon-list li > a:hover {
  background: #3F89AC;
}
main .main-category .all-menu {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  line-height: 130px;
  text-align: center;
  color: #fff;
  background: #2A6079;
}
main .main-category .all-menu:hover {
  background: #3B865D;
}
main .main-category .all-menu::before {
  content: "";
  position: absolute;
  background: url(/img/all_icon.png) no-repeat center center;
  width: 50px;
  height: 50px;
  left: 25%;
  top: 10%;
}

section.totalcare {
  display: none;
}
section.totalcare .totalcare-wrap {
  border: 1px solid #000;
}
section.totalcare .totalcare-content {
  padding: 0 10px;
  display: flex;
}
section.totalcare .totalcare-content .consult {
  display: flex;
  gap: 50px;
  align-items: center;
  flex: 2;
}
section.totalcare .totalcare-content .consult-img img {
  display: block;
}
section.totalcare .totalcare-content .consult-apply p {
  font-size: 24px;
  font-weight: bold;
}
section.totalcare .totalcare-content .consult-apply p span {
  color: #0D81A0;
}
section.totalcare .totalcare-content .consult-apply .sub-txt {
  display: block;
  margin-bottom: 40px;
}
section.totalcare .totalcare-content .consult-apply .applying {
  color: #0D81A0;
  font-size: 17px;
  border: 1px solid #0D81A0;
  padding: 12px 15px;
  border-radius: 15px;
  box-sizing: border-box;
}
section.totalcare .totalcare-content .consult-apply .applying:hover {
  background: #0D81A0;
  border: 1px solid transparent;
  color: #fff;
}
section.totalcare .totalcare-content .api-list {
  flex: 1;
}
section.totalcare .totalcare-content .api-list .txt-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
section.totalcare .totalcare-content .api-list .txt-row h3 {
  margin: 0;
}
section.totalcare .totalcare-content .api-list .txt-row .more {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 17px;
  border: 1px solid #888;
  border-radius: 50%;
}
section.totalcare .totalcare-content .api-list .txt-row .more .fa-solid {
  color: #888;
}
section.totalcare .totalcare-content .api-list .txt-row .more:hover {
  background: #3B865D;
  border: 1px solid #3B865D;
}
section.totalcare .totalcare-content .api-list .txt-row .more:hover .fa-solid {
  color: #fff;
}
section.totalcare .totalcare-content .api-list .list-items li {
  border-bottom: 1px solid rgba(136, 136, 136, 0.1333333333);
  margin: 20px 0;
}
section.totalcare .totalcare-content .api-list .list-items li:nth-of-type(3) {
  border: none;
}
section.totalcare .totalcare-content .api-list .list-items li a {
  font-size: 18px;
}
section.totalcare .totalcare-content .api-list .list-items li a:hover {
  text-decoration: underline;
}
section.totalcare .totalcare-content .api-list .list-items li a::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #000;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
section.totalcare .totalcare-content .api-list .list-items li > .sub-txt {
  width: 500px;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
section.totalcare .totalcare-guide {
  position: relative;
  display: flex;
  background: #3B8286;
  border-radius: 20px 0 20px 20px;
  width: 100%;
  height: 100px;
}
section.totalcare .totalcare-guide .title {
  transform: translateY(-30px);
  background: #3B8286;
  margin: 0;
  padding-top: 60px;
  border-radius: 60px 60px 0 0;
  text-align: center;
  color: #fff;
  width: 100px;
  height: 130px;
  background: #418F93;
}
section.totalcare .totalcare-guide .title b {
  display: block;
}
section.totalcare .totalcare-guide .guide-list {
  flex: 9;
  width: 100%;
  display: flex;
}
section.totalcare .totalcare-guide .guide-list li {
  flex: 1;
  text-align: center;
  position: relative;
}
section.totalcare .totalcare-guide .guide-list li::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  width: 1px;
  height: 50%;
  background: rgba(255, 255, 255, 0.2980392157);
}
section.totalcare .totalcare-guide .guide-list li:last-child::after {
  display: none;
}
section.totalcare .totalcare-guide .guide-list li:nth-of-type(1) a::before {
  background: url(/img/gd01.png) no-repeat center center;
}
section.totalcare .totalcare-guide .guide-list li:nth-of-type(2) a::before {
  background: url(/img/gd02.png) no-repeat center center;
}
section.totalcare .totalcare-guide .guide-list li:nth-of-type(3) a::before {
  background: url(/img/gd03.png) no-repeat center center;
}
section.totalcare .totalcare-guide .guide-list li:nth-of-type(4) a::before {
  background: url(/img/gd04.png) no-repeat center center;
}
section.totalcare .totalcare-guide .guide-list li:nth-of-type(5) a::before {
  background: url(/img/gd05.png) no-repeat center center;
}
section.totalcare .totalcare-guide .guide-list li:nth-of-type(6) a::before {
  background: url(/img/gd06.png) no-repeat center center;
}
section.totalcare .totalcare-guide .guide-list li a {
  display: block;
  height: 100%;
  color: #fff;
  transition: 0.3s;
}
section.totalcare .totalcare-guide .guide-list li a:hover {
  color: #C4E161;
}
section.totalcare .totalcare-guide .guide-list li a::before {
  display: block;
  content: "";
  width: 100%;
  height: 50%;
  margin: 10px 0;
}

section.simulation {
  display: none;
  height: 500px;
  border: 1px solid gold;
}

section.recommendation {
  display: none;
  border: 1px solid green;
}
section.recommendation .txt-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
section.recommendation .txt-row .reco-more {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 17px;
  border: 1px solid #888;
  border-radius: 50%;
}
section.recommendation .txt-row .reco-more .fa-solid {
  color: #888;
}
section.recommendation .txt-row .reco-more:hover {
  background: #3B865D;
  border: 1px solid #3B865D;
}
section.recommendation .txt-row .reco-more:hover .fa-solid {
  color: #fff;
}
section.recommendation .recommend-list {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3294117647);
  padding: 10px;
  border-radius: 5px;
}
section.recommendation .swiper-slide .app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 30px;
  height: 250px;
}
section.recommendation .swiper-slide .app::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 80%;
  background: #d9e7e4;
}
section.recommendation .swiper-slide .app-top {
  display: flex;
  align-items: center;
  gap: 10px;
}
section.recommendation .swiper-slide .app-top-box {
  display: inline-block;
  width: 55px;
  height: 55px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2823529412);
  border-radius: 5px;
}
section.recommendation .swiper-slide .app-top-tt {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
}
section.recommendation .swiper-slide .app-info {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  word-wrap: break-word;
  color: #2c503e;
  font-size: 16px;
  font-weight: 200;
  height: 70px;
  overflow: hidden;
}
section.recommendation .swiper-slide .app-tag .tag-info {
  border: 1px solid #0E81A0;
  font-size: 13px;
  font-weight: 200;
  color: #0E81A0;
  padding: 2px 5px;
  border-radius: 5px;
}
section.recommendation .swiper-slide:nth-of-type(1) .app-top-box {
  background: url(/img/app-icon1.png) no-repeat center center;
  background-size: cover;
}
section.recommendation .swiper-slide:nth-of-type(2) .app-top-box {
  background: url(/img/app-icon2.jpg) no-repeat center center;
  background-size: cover;
}
section.recommendation .swiper-slide:nth-of-type(3) .app-top-box {
  background: url(/img/app-icon3.png) no-repeat center center;
  background-size: cover;
}
section.recommendation .swiper-slide:nth-of-type(4) .app-top-box {
  background: url(/img/app-icon4.png) no-repeat center center;
  background-size: cover;
}
section.recommendation .swiper-slide:nth-of-type(5) .app-top-box {
  background: url(/img/app-icon5.png) no-repeat center center;
  background-size: cover;
}
section.recommendation .swiper-slide:nth-of-type(6) .app-top-box {
  background: url(/img/app-icon6.png) no-repeat center center;
  background-size: cover;
}
section.recommendation .swiper-slide:nth-of-type(7) .app-top-box {
  background: url(/img/app-icon7.png) no-repeat center center;
  background-size: cover;
}
section.recommendation .swiper-slide:nth-of-type(8) .app-top-box {
  background: url(/img/app-icon8.jpg) no-repeat center center;
  background-size: cover;
}
section.recommendation .swiper-control {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
section.recommendation .swiper-control .recommend-pagination {
  width: 90%;
  z-index: 1000;
}
section.recommendation .swiper-control .recommend-pagination .swiper-pagination-progressbar-fill {
  background: #0D81A0;
}

section.notice .notice-wrap {
  width: 100%;
  display: flex;
  gap: 50px;
  border: 1px solid #000;
}
section.notice .notice-wrap .notice-content {
  flex: 3;
}
section.notice .notice-wrap .notice-content .txt-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.notice .notice-wrap .notice-content .txt-row h2 > span {
  color: #2A6079;
}
section.notice .notice-wrap .notice-content .txt-row .notice-btn {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 17px;
  border: 1px solid #888;
  border-radius: 50%;
}
section.notice .notice-wrap .notice-content .txt-row .notice-btn .fa-solid {
  color: #888;
}
section.notice .notice-wrap .notice-content .txt-row .notice-btn:hover {
  background: #3B865D;
  border: 1px solid #3B865D;
}
section.notice .notice-wrap .notice-content .txt-row .notice-btn:hover .fa-solid {
  color: #fff;
}
section.notice .notice-wrap .notice-content .notice-tab .tab {
  display: flex;
  margin: 10px 0;
  border-bottom: 2px solid #eee;
}
section.notice .notice-wrap .notice-content .notice-tab li {
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
}
section.notice .notice-wrap .notice-content .notice-tab li.active {
  color: #0D81A0;
}
section.notice .notice-wrap .notice-content .notice-tab li.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #0D81A0;
}
section.notice .notice-wrap .notice-content .notice-tab .info .txt {
  display: none;
  height: 200px;
  border: 1px solid red;
}
section.notice .notice-wrap .notice-content .notice-tab .info .txt.active {
  display: block;
}
section.notice .notice-wrap .notice-img {
  border-radius: 5px;
  overflow: hidden;
  flex: 2;
}
section.notice .notice-wrap .notice-img a {
  display: block;
}
section.notice .notice-wrap .notice-img a img {
  display: block;
  width: 100%;
}

footer {
  height: 200px;
  border: 1px solid yellow;
}