@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;600&display=swap');

/* default settings */
$font-base: 'Noto Sans KR', sans-serif;
$font-base-size: 16px;
$base-color: #333;
$primary-color: #0D81A0;
$gnb-color: #aaa;
$font-bold : 19px;
$gnb-font-bold : 500;
$gnb-font-normal : 18px;

/*Reset CSS*/
a {
    text-decoration: none;
    color: $base-color;
}
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inner {
    width: 1380px;
    margin: 0 auto;
    border: 1px solid #000;
}
.wrap {}
.floationg-top {}
/* header section */
header {
    position: relative;
    font-family: $font-base;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #eee;
    .header-wrap {
        width: 100%;
        align-items: center;
        height: 80px;
        display: flex;
    }
    .gnb-bg {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 280px;
        z-index: 100;
        background: #fff;
        border-top: 1px solid #eee;
    }
    .bg-overlay {
        display: none;
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #00000042;
    }
    h1.logo {
        margin-right: auto;
    }
    ul.gnb {
        display: flex;
        height: 80px;
        > li {
            position: relative;
            padding: 0 40px;
            &:hover > a {
                color: $primary-color;
            }
            &:hover > .sub > li > a {
                color: #444;
            }
            & > .sub > li > a:hover {
                color: $primary-color;
            }
            &:nth-of-type(1),
            &:nth-of-type(4){
                margin-right: 25px;
            }
            & > a {
                display: inline-block;
                line-height: 80px;
                font-weight: $gnb-font-bold;
                font-size: 19px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%);
                    height: 2px;
                    width: 0;
                    background: $primary-color;
                    transition: 0.2s;
                }
                &:hover::before {
                    width: 100%;
                }
            }
        }
        .sub {
            display: none;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            margin-top: 20px;
            z-index: 1000;
            >li {
                margin: 20px 0;
                text-align: center;
                >a {
                    color: $gnb-color;
                    display: inline-block;
                    width: 100%;
                }
            }
        }
    }
    .trigger {
        position: relative;
        width: 40px;
        height: 30px;
        margin-left: 20px;
        cursor: pointer;
        &:hover span {
            background: $primary-color;
        }
        span {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 2px;
            background: #000;
            &:nth-of-type(1){
                top: 0;
            }
            &:nth-of-type(2){
                top: 50%;
            }
            &:nth-of-type(3){
                top: 100%;
            }
        }
    }
}
/* main section */
main {
    margin: 20px 0;
    .main-info {
        display: flex;
        gap: 30px;
        .main-slider {
            position: relative;
            .main-swipder {
                width: 500px;
                height: 100%;
                .main-slide {
                    a {
                        display:block;
                        width: 100%;
                        height: 100%;
                        border-radius: 20px;
                        overflow: hidden;
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
            .swiper-pagination {
                position: absolute;
                bottom: -5%;
                left: 10px;
                text-align-last: left;
                &-bullet-active {
                    background-color: #0E81A0;
                }
            }
        }
        .main-guide {
            flex: 2;
            .main-search {
                margin-bottom: 70px;
                label {
                    display: flex;
                    align-items: center;
                    font-size: $font-bold + 5;
                    font-weight: 500;
                    color: $primary-color;
                    width: 100%;
                    padding:10px 0;
                    box-sizing: border-box;
                    .search-wrap {
                        display: flex;
                        border: 2px solid $primary-color;
                        border-radius: 5px;
                        overflow: hidden;
                        width: 100%;
                        margin-left: 10px;
                    }
                    input[type=text] {
                        flex: 9;
                        padding: 15px;
                        outline: none;
                        border: none;
                        &::placeholder {
                            font-size: 15px;
                        }
                    }
                    .search-btn {
                        flex: 0.1;
                        border: none;
                        cursor: pointer;
                        background: $primary-color  url(/img/search_btn.png)no-repeat center center;
                        outline: none;
                        margin: -4px;
                        padding: 30px;
                    }
                }
                .hashtag {
                    text-align: center;
                    >a {
                        margin: 10px;
                        font-size: $font-base-size;
                        color: #79939A;
                        font-weight: normal;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .main-items {
                background: #fff;
                box-shadow: 0 0 20px 5px #0000002c;
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                flex-wrap: wrap;
                .item {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1 200px;
                    gap: 10px;
                    padding: 50px 30px;
                    border-bottom: 1px solid #eee;
                    &::after {
                        position: absolute;
                        content: "";
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 50%;
                        background: #eee;
                    }
                    &-img {
                        img {
                            width: 100%;
                        }
                        transition: 0.3s;
                    }
                    &-txt {
                        .title {
                            display: block;
                            font-weight: 500;
                        }
                        .txt {
                            font-size: 13px;
                            color: #777;
                        }
                    }
                    &:hover {
                        .item-img {
                            transform: translateY(-5px);
                        }
                        background: #F5FCF8;
                        color: #3B865D;
                    }
                }
            }
        }
    }
    .main-category {
        margin-top: 50px;
        border-radius: 0 10px 10px 0;
        background: #3A7F9D;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
        .category-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title {
                position: relative;
                color: #fff;
                font-size: 20px;
                line-height: 1.2em;
                &::after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 100%;
                    top: 0;
                    right: -30%;
                    display: inline-block;
                    background: #ffffff73;
                }
            }
            .icon-list {
                display: flex;
                li {
                    border-radius: 10px;
                    overflow: hidden;
                    &:nth-of-type(1) > a::before {
                        background: url(/img/cate001.png)no-repeat center center;
                    }
                    &:nth-of-type(2) > a::before {
                        background: url(/img/cate002.png)no-repeat center center;
                    }
                    &:nth-of-type(3) > a::before {
                        background: url(/img/cate003.png)no-repeat center center;
                    }
                    &:nth-of-type(4) > a::before {
                        background: url(/img/cate004.png)no-repeat center center;
                    }
                    &:nth-of-type(5) > a::before {
                        background: url(/img/cate005.png)no-repeat center center;
                    }
                    &:nth-of-type(6) > a::before {
                        background: url(/img/cate006.png)no-repeat center center;
                    }
                    &:nth-of-type(7) > a::before {
                        background: url(/img/cate007.png)no-repeat center center;
                    }
                    &:nth-of-type(8) > a::before {
                        background: url(/img/cate008.png)no-repeat center center;
                    }
                    &:nth-of-type(9) > a::before {
                        background: url(/img/cate009.png)no-repeat center center;
                    }
                    &:nth-of-type(10) > a::before {
                        background: url(/img/cate010.png)no-repeat center center;
                    }
                    >a {
                        position: relative;
                        display: inline-block;
                        width: 110px;
                        height: 100px;
                        line-height: 130px;
                        text-align: center;
                        color: #fff;
                            &::before {
                            content: "";
                                position: absolute;
                                width: 50%;
                                height: 50%;
                                left: 25%;
                                top: 5%;
                            }
                            &:hover {
                                background: #3F89AC;
                            }
                        }
                    }
                }
            }
            .all-menu {
                position: relative;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                line-height: 130px;
                text-align: center;
                color: #fff;
                background: #2A6079;
                &:hover {
                    background: #3B865D;
                }
                &::before {
                    content: "";
                    position: absolute;
                    background: url(/img/all_icon.png)no-repeat center center;
                    width: 50px;
                    height: 50px;
                    left: 25%;
                    top: 10%;
                }
            }
        }
    }

section.totalcare {
    height: 700px;
    border: 1px solid blue;
}
section.simulation {
    height: 500px;
    border: 1px solid gold;
}
section.recommendation {
    height: 200px;
    border: 1px solid green;
}
section.notice {
    height: 400px;
    border: 1px solid pink;
}
footer {
    height: 200px;
    border: 1px solid yellow;
}
